.gradle
*.sw?
.#*
*#
*~
/build
/code
.classpath
.project
.settings
.metadata
.factorypath
bin
build
lib/
target
.springBeans
interpolated*.xml
dependency-reduced-pom.xml
build.log
_site/
.*.md.html
manifest.yml
MANIFEST.MF
settings.xml
activemq-data
overridedb.*
*.iml
*.ipr
*.iws
.idea
*.jar
!gradle-wrapper.jar
.DS_Store
.factorypath
data

# Frontend
.DS_Store

/client/bower_components
/client/node_modules
/client/build
/client/karma_html
/client/report
/client/.idea
/client/.tmp
